*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}


.form-buscar input {
    width: 80%;
}

.div-nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: white;
}

h3,
.description:hover{
    color: #666;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article i:hover{
    transform: rotate(-90deg);
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}
main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*login*/

main.login {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-form div {
    width: 60%;
}

.login-form-completar {
    width: 100%;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #0044AA;
    border-radius: 3px;
    padding: 5px;
}

.boton-enviar {
    padding: 3px;
    margin: 10px 0 10px 0;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
}

.boton-enviar:hover {
    background-color:#0022AA;
    color: white;
    font-weight: 600;
    border: 1px solid #0044AA;
    border-radius: 3px;
    padding: 5px;
}

/*register*/

main.main-register{
    width: 90%;
    height: 900px;
}

.register {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
}

div.register .casillas{
    width: 100%;
    border: 1px solid #0044AA;
    border-radius: 3px;
    padding: 5px;
}

.profile {
    display: flex;
    justify-content:space-around;
}


/*footer*/

footer {
    background-color: white;
}


footer section {
    text-align: center;
    margin: 30px;
}

footer section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #0044AA;
    margin-top: 60px;
}


footer p {
    text-align: center;
}



@media (min-width: 361px){
    .div-nav{
        display: unset;
        margin: 10px 20px 10px 20px;
        font-size: 16px;
    }

    nav ul {
        margin-left: 20px;
    }

    main section article .description{
        display: block;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    .burger-menu i {
        display: none;
    }

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%; 
    }

    body header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    header li {
        margin: 0 10px 0 10px;
    }
    
    header div.logo, header .form, header div.top-header p {
        width: 33%;
        margin: auto;
    }
    header .form {
        justify-content: center;
    }
  
    .form-buscar {
        width: auto;
    }

    footer div {
        display: flex;
        align-items: center;
    }

    footer section {
        margin:60px 10px 60px 10px;
    }
    
    footer section i {
        margin-top: 30px;
   }

    footer section i:hover {
    color:#39b54a;
    }
}